{{#each slides as |slideItem|}}
  <div class="slide-unit">
    <span  class="id-slide" >{{slideItem.id}}</span>
    {{image-button-component imgUrl = '../assets/slide/slide.png' click =(action onClickSlide slideItem)}}
    {{image-button-component imgUrl = '../assets/slide/remove.png' click =(action onClickRemove slideItem)}}
  </div>
{{/each}}

<div class="wraper-add-button">
  {{image-button-component imgUrl = '../assets/slide/add.png' click =(action onClickAdd)}}
</div>

{{yield}}
